In [1]:
import pandas as pd

# importing data

In [3]:
df = pd.read_csv("sampleTrain_test.csv")

In [4]:
df

   Age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [5]:
x = df["Age"]

In [6]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [7]:
y = df["Premium"]

In [8]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

# Spliting data into train and test data set

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2,random_state = 0)

In [12]:
len(x_test)

1

In [13]:
x_test

2    35
Name: Age, dtype: int64

In [15]:

x_train

0    25
1    30
3    40
4    45
Name: Age, dtype: int64

In [16]:
len(y_train)

4

In [17]:
y_train

0    18000
1    32000
3    47000
4    55000
Name: Premium, dtype: int64

In [18]:
y_test

2    40000
Name: Premium, dtype: int64